extends ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 电影名字
						th 导演
						th 国家
						th 上映年份
						th 录入时间
						th pv
						th 查看
						th 更新
						th 删除
				tbody
					- if(movies.length) //-如果没有电影则movies.length为false
						- each item in movies
							tr(class="item-id-#{item._id}")
								td #{item.title}
								td #{item.doctor}
								td #{item.country}
								td #{item.year}
								td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
								td #{item.pv}
								td: a(target="_blank", href="/movie/#{item._id}/find") 查看
								td: a(target="_blank", href="/admin/movie/update/#{item._id}") 修改
								td
									button.btn.btn-danger.del(type="button", data-id="#{item._id}") 删除
					- else
						p You don't have any movies
	script(src="/js/admin.js")